#minimum-right-title
  h2= "Add Boulder"

#minimum-right-content

  ul
  - for (var error in errors)
    li(style="color:#ff8c3c;")
      = errors[error]

  - var nicks = setternicknames

  form(action="/add/boulder", method="post")
    p.text.setters
      input(type="text", name="name", placeholder="name", value=bouldername)
      = " (optional)"

    p.text.setters
      select(multiple, name="setter_nicks", size="6")
        - for (var idx in setters)
          - var selected = false
          - for (var nick in nicks)
            - if(setters[idx].nickname == nicks[nick])
              - var selected = true

          - if(selected)
            option(value="#{setters[idx].nickname}", selected="yes")
              = setters[idx].nickname + " [" + setters[idx].name + ']'
          - else
            option(value="#{setters[idx].nickname}")
              = setters[idx].nickname + " [" + setters[idx].name + ']'

    p.text.grade
      select(name="grade", size="6")
        - for (gr in grade_names)
          - if (gr != grade)
            option(value=gr)
              =grade_names[gr]
          - else
            option(value=gr, selected="yes")
              =grade_names[gr]

    p.text.gradenr
      input(type="text", name="gradenr", placeholder="nr", style="width:50px;", value=gradenr)

    p.text.sector
      select(name="sector")
        - for (var idx in sectors)
          - if (11-idx == sector)
            option(value="#{11-idx}", selected="yes")
              =sectors[idx]
          - else
            option(value="#{11-idx}")
              =sectors[idx]

    p.text.comments
      input(type="text", name="comments", placeholder="comments", value=comments)
      = " (optional)"

    p.text.submit
      input(type="password", name="secret", placeholder="secret")
      submit
        button
          span add
