#minimum-right-title
  -if (name)
    h2= name
  -else
    h2= "Boulder"

#minimum-right-content
  div.boulder_header
    span#boulder_gradenr
      a(href="/stats/grade/#{gradeName}", class="#{gradeName}")
        = gradeNr
    ul#boulder_setters
      - each set in setters
        li
          a(href="/setter/#{set.nickname}")
            span(style="display:inline-block;width:40px;")
              img(class="mini_avatar", style="float:left;", src="/avatars/#{set.nickname}_small.jpg")
            = set.name

  div.boulder_rating
    div.like_button
      a(href='/boulder/#{boulder._id}/like', data-method='post')
        = "like"
    div.dislike_button
      a(href='/boulder/#{boulder._id}/dislike', data-method='post')
        = "dislike"
    span.dislikes_small(style="width: #{dislikesPixels}px; float: right; height: 15px;")
      = "&nbsp;"
    span.likes_small(style="width: #{likesPixels}px; float: right; height: 15px;")
      = "&nbsp;"
    br
    span(style="font-size: 10pt; float: right; margin-top: -20px;")
      | #{likes} likes, #{dislikes} dislikes

  div.boulder_sector
    img(src="/sectors/Sektoren_#{sector}.svg")

  div.boulder_comment
    -if (boulder.comments != "")
      h4= "Infos: "
        = boulder.comments

  -if (isAuth)
    div.boulder_actions
      h4= "Aktionen"
      form(action="/boulder/#{boulder._id}/remove", method="post")
        input(type="password", name="secret", placeholder="secret", style="width:50px;")
        submit
          button
            span Abgeschraubt
      -if (authSetterRole == "admin")
        form(action="/boulder/#{boulder._id}/delete", method="post")
          p.text.grade
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            submit
              button
                span Loeschen
        form(action="/boulder/#{boulder._id}/upgrade", method="post")
          p.text.grade
            input(type="text", name="gradenr", placeholder="neue grade nummer")
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            submit
              button
                span Aufwerten
        form(action="/boulder/#{boulder._id}/downgrade", method="post")
          p.text.grade
            input(type="text", name="gradenr", placeholder="neue grade nummer")
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            submit
              button
                span Abwerten
