div.row
  -if (name)
    h3= name
  -else
    h3= "Boulder"


div.row(style="padding-top:20px;")
  ul
  - for (var error in errors)
    li(style="color:#ff8c3c;")
      = errors[error]

div.row(style="padding-top:20px;")
  div.span2
    span#boulder_gradenr
      a(href="/stats/grade/#{gradeName}", class="#{gradeCSS}")
        = gradeNr


    div(style="padding-top:25px;")
      - each set in setters
        a(href="/setter/#{set.nickname}")
          span(style="display:inline-block;width:40px;")
            img(class="mini_avatar", src="/avatars/#{set.nickname}_small.jpg")


    //-- for (var id in gradeRatings)
      //-div.progress(style="height:18px; margin: 5px;")
          //-div.bar(style="width: #{gradeRatings[id].per}%; background: #{gradeRatings[id].color};")
          //-span(style="font-size: 10pt; float: right; margin-right: 4px;")
              //-| #{gradeRatings[id].val}

    div(style="display: none;")
      table
        tbody
          - each rating in gradeRatings
            tr
              td
                = rating.per
              td
                = rating.color

    div#chart(style="padding-top:20px;")
    script(src='/javascripts/grade-voting-ring.js')



  div.span4
    span.shadow
      img(src="/#{sector}")
    center
      p(style="padding-top:10px; font-size: 20px;")= sectorName

-if (showDisLike)
  div.row
    div.boulder_rating
      a.btn(href='/boulder/#{boulder._id}/like', data-method='post')
        i.icon-thumbs-up
      a.btn(href='/boulder/#{boulder._id}/dislike', data-method='post')
        i.icon-thumbs-down
      div.progress(style="width: 100%;")
        div.bar.bar-success(style="width: #{likesPixels}%;")
        div.bar.bar-danger(style="width: #{dislikesPixels}%;")
        span(style="font-size: 10pt; float: right; margin-top: -18px; margin-right: 4px;")
          | #{likes} like(s), #{dislikes} dislike(s)

-if (showUserGradeVoting)
  div.row
    img(src="/images/grade_rainbow_slim.png", width='100%', style="height:20px; border: 1px solid #e7e7e7; border-radius: 5px; opacity=0.4;")
    form(action="/boulder/#{boulder._id}/vote-grade", method="post")
      label.radio.inline
        input(type="radio", name="voteGrade", id="voteGrade1", value="Gelb", checked)
        ="Gelb"
      span(style="margin: 0 30px;")
      label.radio.inline
        input(type="radio", name="voteGrade", id="voteGrade2", value="Gruen")
        ="Gruen"
      span(style="margin: 0 30px;")
      label.radio.inline
        input(type="radio", name="voteGrade", id="voteGrade3", value="Orange")
        ="Orange"
      span(style="margin: 0 30px;")
      label.radio.inline
        input(type="radio", name="voteGrade", id="voteGrade4", value="Blau")
        ="Blau"
      span(style="margin: 0 30px;")
      label.radio.inline
        input(type="radio", name="voteGrade", id="voteGrade5", value="Rot")
        ="Rot"
      span(style="margin: 0 30px;")
      label.radio.inline
        input(type="radio", name="voteGrade", id="voteGrade6", value="Weiss")
        ="Weiss"
      button.btn(type="submit")
        i.icon-ok

div.row(style="padding-top:20px;")
  -if (boulder.comments != "")
    div.well
      h4= boulder.comments


-if (isAuth)
  div.row
    div.well.boulder_actions
      h4= "Aktionen"
      form.form-inline(action="/boulder/#{boulder._id}/remove", method="post")
        input(type="password", name="secret", placeholder="secret", style="width:50px;")
        button.btn-primary(type="submit", class="btn") Abgeschraubt

      -if (authSetterRole == "admin")
        form.form-inline(action="/boulder/#{boulder._id}/delete", method="post")
          p.text.grade
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            button.btn-primary(type="submit", class="btn") Loeschen
        form.form-inline(action="/boulder/#{boulder._id}/upgrade", method="post")
          p.text.grade
            input(type="text", name="gradenr", placeholder="neue grade nummer")
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            button.btn-primary(type="submit", class="btn") Aufwerten
        form.form-inline(action="/boulder/#{boulder._id}/downgrade", method="post")
          p.text.grade
            input(type="text", name="gradenr", placeholder="neue grade nummer")
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            button.btn-primary(type="submit", class="btn") Abwerten
