h3 Boulders chronologisch

.boulderlist
  // render list of boulders
  ul#boulderlist
    - var last_date = '0'
    - for (var id in list)
      - if (list[id].prettyDate != last_date)
        - var last_date = list[id].prettyDate
        li
          = list[id].prettyDate
      li
        div(style="padding-left:50px; margin-left:10px; border-left:2px solid gray;")

          div(class="boulder")
            -for (var setter in list[id].prettySetters)
              a(href="/setter/#{list[id].prettySetters[setter]}")
                div(style="border-radius: 6px; width: 30px; height: 30px; background: url('/avatars/#{list[id].prettySetters[setter]}_small.jpg'); background-size: cover; float:left; margin-left: 5px")

            div(class="description")
              span(class="#{list[id].color}", style="display:inline-block; width:100px; margin-top:5px;")
                a(href="/boulder/#{list[id].id}", class="#{list[id].color}")
                  = list[id].gradenr

              - if (list[id].likes > 0 || list[id].dislikes > 0)
                span(style="display: inline-block; float:right; margin-right:5px; margin-top:9px;")
                  div.progress(style="height: 13px;")
                    div.bar.bar-success(style="width: #{list[id].likes}px;")
                    div.bar.bar-danger(style="width: #{list[id].dislikes}px;")

        div(style="padding-left:50px; margin-left:10px; border-left:2px solid gray;height:3px;")

