#minimum-right-title
  -if (name)
    h2= name
  -else
    h2= "Boulder"

#minimum-right-content
  div.boulder_header
    span#boulder_gradenr
      a(href="/stats/grade/#{gradeName}", class="#{gradeName}")
        = gradeNr
    ul#boulder_setters
      - each set in setters
        li
          a(href="/setter/#{set.nickname}")
            span(style="display:inline-block;width:40px;")
              img(class="mini_avatar", style="float:left;", src="/avatars/#{set.nickname}_small.jpg")
            = set.name
      li.vote
        a(href='/boulder/#{boulder._id}/vote/1', data-method='post')
          = "* &nbsp;&nbsp;"
        a(href='/boulder/#{boulder._id}/vote/2', data-method='post')
          = "** &nbsp;"
        a(href='/boulder/#{boulder._id}/vote/3', data-method='post')
          = "***"

  div.boulder_rating
    div(class="boulder_star1", style="height:#{starsCount[0]/totalStars*50 + 1}px; margin-top:#{50 - starsCount[0]/totalStars*50 + 1}px")
    div(class="boulder_star2", style="height:#{starsCount[1]/totalStars*50 + 1}px; margin-top:#{50 - starsCount[1]/totalStars*50 + 1}px")
    div(class="boulder_star3", style="height:#{starsCount[2]/totalStars*50 + 1}px; margin-top:#{50 - starsCount[2]/totalStars*50 + 1}px")

  div.boulder_sector
    img(src="/sectors/Sektoren_#{sector}.svg")

  div.boulder_comment
    -if (boulder.comments != "")
      h4= "Infos: "
        = boulder.comments

  -if (isAuth)
    div.boulder_actions
      h4= "Aktionen"
      form(action="/boulder/#{boulder._id}/remove", method="post")
        input(type="password", name="secret", placeholder="secret", style="width:50px;")
        submit
          button
            span Abgeschraubt
      -if (authSetterRole == "admin")
        form(action="/boulder/#{boulder._id}/delete", method="post")
          p.text.grade
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            submit
              button
                span Loeschen
        form(action="/boulder/#{boulder._id}/upgrade", method="post")
          p.text.grade
            input(type="text", name="gradenr", placeholder="neue grade nummer")
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            submit
              button
                span Aufwerten
        form(action="/boulder/#{boulder._id}/downgrade", method="post")
          p.text.grade
            input(type="text", name="gradenr", placeholder="neue grade nummer")
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            submit
              button
                span Abwerten
