div.row
  -if (name)
    h3= name
  -else
    h3= "Boulder"


div.row(style="padding-top:20px;")
  ul
  - for (var error in errors)
    li(style="color:#ff8c3c;")
      = errors[error]


div.row(style="padding-top:20px;")
  div.span2
    span#boulder_gradenr
      a(href="/stats/grade/#{gradeName}", class="#{gradeCSS}")
        = gradeNr


    div(style="padding-top:10px;")
      p
        | geschraubt von
      - each set in setters
        a(href="/setter/#{set.nickname}")
          div(style="border-radius: 6px; width: 30px; height: 30px; background: url('/avatars/#{set.nickname}_small.jpg'); background-size: cover; float:left; margin-left: 5px")
          //-div(style="background: url('/avatars/#{set.nickname}_small.jpg');").avatar_icon


    div(style="display: none;")
      table
        tbody
          - each rating in gradeRatings
            tr
              td
                = rating.per
              td
                = rating.color

    p(style="clear:both; padding-top:10px;")
      | User Bewertung
    div#chart
    script(src='/javascripts/grade-voting-ring.js')


  div.span4
    span.shadow
      img(src="/#{sector}")
    center
      p(style="padding-top:10px; font-size: 20px;")= sectorName


-if (showDisLike)
  div.row
    div.boulder_rating
      a.btn(href='/boulder/#{boulder._id}/like', data-method='post')
        i.icon-thumbs-up
      a.btn(href='/boulder/#{boulder._id}/dislike', data-method='post')
        i.icon-thumbs-down
      span(style="display:inline-block; font-size: 14px; padding-left: 10px;")
        | like it?
      div.progress(style="width: 100%;")
        div.bar.bar-success(style="width: #{likesPixels}%;")
        div.bar.bar-danger(style="width: #{dislikesPixels}%;")
        span(style="font-size: 10pt; float: right; margin-top: -18px; margin-right: 4px;")
          | #{likes} like(s), #{dislikes} dislike(s)


-if (showUserGradeVoting)
  div.row(style="padding-top:20px;")
    p
      | Wie fuehlt sich dieser Boulder fuer dich an?
    form(action="/boulder/#{boulder._id}/vote-grade", method="post")
      - for (idx in gradeStr)
        label.radio.inline
          input(type="radio", name="voteGrade", id="voteGrade#{parseInt(idx)+1}", value="#{gradeStr[idx]}", checked)
          =gradeStr[idx]
      span(style="margin: 0 10px;")
      button.btn.btn-primary(type="submit")
        | grade it


div.row(style="padding-top:20px;")
  -if (boulder.comments != "")
    div.well(style="padding-top: 0px; padding-bottom: 0px;")
      h4= boulder.comments


-if (isAuth)
  div.row
    div.well.boulder_actions
      h4= "Aktionen"
      form.form-inline(action="/boulder/#{boulder._id}/remove", method="post")
        input(type="password", name="secret", placeholder="secret", style="width:50px;")
        button.btn-primary(type="submit", class="btn") Abgeschraubt

      -if (authSetterRole == "admin")
        form.form-inline(action="/boulder/#{boulder._id}/delete", method="post")
          p.text.grade
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            button.btn-primary(type="submit", class="btn") Loeschen
        form.form-inline(action="/boulder/#{boulder._id}/upgrade", method="post")
          p.text.grade
            input(type="text", name="gradenr", placeholder="neue grade nummer")
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            button.btn-primary(type="submit", class="btn") Aufwerten
        form.form-inline(action="/boulder/#{boulder._id}/downgrade", method="post")
          p.text.grade
            input(type="text", name="gradenr", placeholder="neue grade nummer")
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            button.btn-primary(type="submit", class="btn") Abwerten

