#minimum-right-title
  -if (name)
    h2= name
  //--else
    //-h2= "Boulder"

#minimum-right-content
  ul
  - for (var error in errors)
    li(style="color:#ff8c3c;")
      = errors[error]

  div.boulder_header
    span#boulder_gradenr
      a(href="/stats/grade/#{gradeName}", class="#{gradeName}")
        = gradeNr
    ul#boulder_setters
      - each set in setters
        li
          a(href="/setter/#{set.nickname}")
            span(style="display:inline-block;width:40px;")
              img(class="mini_avatar", src="/avatars/#{set.nickname}_small.jpg")
            = set.name

  div.boulder_rating
    a.btn(href='/boulder/#{boulder._id}/like', data-method='post')
      i.icon-thumbs-up
    a.btn(href='/boulder/#{boulder._id}/dislike', data-method='post')
      i.icon-thumbs-down
    div.progress(style="width: 100%;")
      div.bar.bar-success(style="width: #{likesPixels}%;")
      div.bar.bar-danger(style="width: #{dislikesPixels}%;")
      span(style="font-size: 10pt; float: right; margin-top: -18px; margin-right: 4px;")
        | #{likes} like(s), #{dislikes} dislike(s)

  div.well.boulder_sector(style="margin-top:20px;")
    img(src="/sectors/Sektoren_#{sector}.svg")

  div.boulder_comment
    -if (boulder.comments != "")
      div.well
        h4= "Infos: "
          = boulder.comments

  -if (isAuth)
    div.well.boulder_actions
      h4= "Aktionen"
      form(action="/boulder/#{boulder._id}/remove", method="post")
        input(type="password", name="secret", placeholder="secret", style="width:50px;")
        submit
          button
            span Abgeschraubt
      -if (authSetterRole == "admin")
        form(action="/boulder/#{boulder._id}/delete", method="post")
          p.text.grade
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            submit
              button
                span Loeschen
        form(action="/boulder/#{boulder._id}/upgrade", method="post")
          p.text.grade
            input(type="text", name="gradenr", placeholder="neue grade nummer")
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            submit
              button
                span Aufwerten
        form(action="/boulder/#{boulder._id}/downgrade", method="post")
          p.text.grade
            input(type="text", name="gradenr", placeholder="neue grade nummer")
            input(type="password", name="secret", placeholder="secret", style="width:50px;")
            submit
              button
                span Abwerten
