div(style="width: 100%; min-height: 445px; background: #E5E5E5; overflow-x: hidden;")
  div(style="width: 400px; background: #E5E5E5; overflow-x: hidden;")

    h3= "Aktuelle Schwierigkeitsverteilung"

    ul.chartlist
      - var grades = ["1a - 4c", "5a - 6a", "6a+ - 6b+", "6c - 7a", "7a+ - 7b+", "7c - ?"]
      - var color_labels = ["gelb", "gruen", "orange", "blau", "rot", "weiss"]
      - for (var id in histogram)
        li
            a(href="http://minimum-bouldering.ch/#{color_labels[id]}.html", target="top")&nbsp;
            span.count
              #{histogram[id].val}
            span.index(style="width: #{histogram[id].val}%; background: #{histogram[id].color}; font-size:11pt; text-indent:2px;")
              = grades[id]

    hr
    div(style="text-align:right;")
      b
        = totalBoulders

    div(style="text-align:right;")
      p(style="font-size:9pt;")
        a(href="http://ba.iff.im", target="blank") Detailansicht
