div.container
  div.row
    div.span6
      h3= authSetterName

  div.row
    div.span6
      div.media
        a.pull-left(href="#")
          span.shadow
            img.media-object(src="#{avatar}")
        div.media-body(style="margin-left: 120px;")
          div.span5
            blockquote
              small
                = "Total " + totalBoulders + " Boulders"
            blockquote
              small
                = bouldersThisMonth + "/3 Boulders im " + thisMonth
            blockquote
              small
                = percentMinimumBoulders + "% vom Minimum"

  div.row(style="padding-top:20px;")
    div.span4
      a(href="/change/pw", class="btn btn-small btn-primary") Passwort aendern
      &nbsp;
      a(href="/change/secret", class="btn btn-small btn-primary") Secret aendern

  div.row(style="padding-top:60px;")
  - for (var id in histogram)
    div.row
      div.span4
        div.progress
          div.bar(style="width: #{histogram[id].val/maxBoulder*75}%; background: #{histogram[id].color};")
      div.span1
        h4(style="margin-top:-1px;")= "" + histogram[id].val + "%"
