#minimum-left-title

#minimum-left-content
  h2= authSetterName

  span.avatar
    span(class="shadow")
      img(src="#{avatar}", width="100px")

  div.profile_info
    ul#profileinfo
      li
        = "Total: " + totalBoulders
      li
        = bouldersThisMonth + " von 3 Boulders geschraubt im " + thisMonth
      li
        = percentMinimumBoulders + "% von den Boulders im Minimum"
      li
        a(href='/change/pw') Passwort aendern
        = " || "
        a(href='/change/secret') Secret aendern

  div.setter_histogram
    div.chartlist
      ul.chartlist
        - var colors = ["#ffcc00", "#33cc00", "#ff7900", "#0000ff", "#ff0000", "#ffffff"]
        - var color_labels = ["yellow", "green", "orange", "blue", "red", "white"]
        - for (var id in histogram)
          li
              a(href="/stats/grade/#{color_labels[id]}")&nbsp;
              span.count
                #{histogram[id]}
              span.index(style="width: #{histogram[id]/maxBoulder*75}%; background: #{colors[id]}")
                = histogram[id]%

