h2= "Boulders im Sektor " + sectorName

.boulderlist

  // render list of boulders
  ul#boulderlist
    - for (var id in boulder_list)
      li
        span(class="#{boulder_list[id].color}", style="display:inline-block;width:40px;")
          a(href="/boulder/#{boulder_list[id].id}", class="#{boulder_list[id].color}")
            = boulder_list[id].gradenr
        span(style="display:inline-block;width: 90px;")
          -for (var setter in boulder_list[id].prettySetters)
            a(href="/setter/#{boulder_list[id].prettySetters[setter]}")
              = boulder_list[id].prettySetters[setter] + " "
        span(style="display:inline-block;width: 120px;")
          = boulder_list[id].prettyDate

        - if (list[id].likes > 0)
          span.likes_small(style="width: #{list[id].likes}px;")
        - if (list[id].dislikes > 0)
          span.dislikes_small(style="width: #{list[id].dislikes}px;")
