#minimum-right-title
  h2= "Profil"

#minimum-right-content
  span.avatar
    span(class="shadow")
      img(src="#{avatar}", width="100px")

  div.setter_name
    p
      =name
    ul#setter_prop
      li
        ='bewertet seine/ihre Boulder ' + grading
      -if (topBoulder)
        li
          ='hat fuer '
          span(class="#{topBoulder.color}", style="display:inline-block;width:25px;")
            a(href="/boulder/#{topBoulder.id}", class="#{topBoulder.color}")
              = topBoulder.gradenr
          ='die meisten Sterne erhalten'

  div.setter_histogram
    div.chartlist
      ul.chartlist
        - var colors = ["#ffcc00", "#33cc00", "#ff7900", "#0000ff", "#ff0000", "#ffffff"]
        - var color_labels = ["yellow", "green", "orange", "blue", "red", "white"]
        - for (var id in histogram)
          li
              a(href="/stats/grade/#{color_labels[id]}")&nbsp;
              span.count
                #{histogram[id]}
              span.index(style="width: #{histogram[id]/maxBoulder*75}%; background: #{colors[id]}")
                = histogram[id]

  div.setter_boulders
    // render list of boulders
    ul#setter-boulderlist
      - for (var id in boulders)
        -if(boulders[id].removed)
          -var state = 'removed'
        -else
          -var state = 'active'

        li(class="#{state}")
          span(class="#{state}")
            a(href="/boulder/#{boulders[id].id}", class="#{boulders[id].color}")
              = boulders[id].gradenr
