div.row
  div.span6
    h3= "Es hat " + totalBoulders + " Boulders an der Wand, allez!"

div.row
  div.span6
    blockquote
      p
        | Willkommen in der Welt der Minimum-Boulders. Hier findest du aktuelle
        | Infos rund um die Boulderprobleme. Im Minimum werden die Boulders
        | mit folgender Schwierigkeitsskala bewertet:

div.row(style="padding-top:15px;")
  img(src="images/grade_rainbow_grades.png")

div.row
  div.span1
    p
      | machbar
  div.span1
    p
      | moderat
  div.span1
    p
      | mittel
  div.span1
    p
      | markant
  div.span1
    p
      | m&aumlchtig
  div.span1
    p
      | magisch



div.row(style="padding-top:40px;")
- for (var id in histogram)
  div.row
    div.span4
      div.progress
          div.bar(style="width: #{histogram[id].val}%; background: #{histogram[id].color};")
    div.span1
      h4(style="margin-top:-1px;")= "" + histogram[id].val



div.row(style="padding-top:20px;")
  div.span6
    h4= "Top 10 Boulders"
    -if(top10)
      ul#boulderlist(style="padding-left:70px; padding-top: 20px;")
        - var rank = 1
        - var rating = top10[0].num_rating
        - for (var id in top10)
          - if (top10[id].num_rating > -10000)
            - if (top10[id].num_rating < rating)
              - var rank = rank + 1
              - var rating = top10[id].num_rating
            li
              div(class="boulder", style="margin-bottom:5px;width:30px;float:left;text-align:center;")
                =rank
              div(class="boulder", style="margin-bottom:5px;width:310px;")
                -for (var setter in top10[id].prettySetters)
                  a(href="/setter/#{top10[id].prettySetters[setter]}")
                    div(style="border-radius: 6px; width: 30px; height: 30px; background: url('/avatars/#{top10[id].prettySetters[setter]}_small.jpg'); background-size: cover; float:left; margin-left: 5px")

                div(class="description", style="margin-left: 25px;")
                  span(class="#{top10[id].color}", style="display:inline-block; width:80px; padding-top:5px;")
                    a(href="/boulder/#{top10[id].id}", class="#{top10[id].color}")
                      = top10[id].gradenr
                  span(class="float:right; padding-top: 5px;")
                    = (top10[id].num_rating).toFixed(2)
