h2 Team

ul#team
  - for (var setter_id in team)
    - if (team[setter_id].num_boulders_up > 0 || (isAuth && authSetterRole == 'admin'))
      li
        div(class="boulder")
          a(href="/setter/#{team[setter_id].nickname}")
            div(style="border-radius: 6px; width: 30px; height: 30px; background: url('/avatars/#{team[setter_id].nickname}_small.jpg'); background-size: cover; float:left; margin-left: 5px")
          div(class="description")
            span(style="display:inline-block; width:250px; margin-top:5px; font-size:12px;")
              a(href="/setter/#{team[setter_id].nickname}")
                = team[setter_id].name

        - if (isAuth)
          div(class="boulder setter_performance")
            - if (authSetterRole == 'admin')
              - for (var month in team[setter_id].monthlyTable)
                - if (team[setter_id].monthlyTable[month] >= numMonthlyBoulders)
                  span.month_performance.good
                    = team[setter_id].monthlyTable[month]
                - else
                  span.month_performance.bad
                    = team[setter_id].monthlyTable[month]
              br
              span.setter_performance_date.left_date
                | #{team[setter_id].first_date}
              span.setter_performance_date.right_date
                | #{team[setter_id].last_date}
